/*
 * CSS 
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background: #EFF3F6;
    font: 14px Helvetica, Arial, sans-serif;
    padding-top: 70px;
    margin-bottom: 100px;
}

/* body::-webkit-scrollbar {
    display: none;
} */

/* Link & button
================= */

a {
    font-size: 14px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

button:focus {
    outline: none;
}

.container-fluid {
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.btn {
    transition: 0.3s;
    font-weight: bold;
    border-width: 2px;
}

.btn-primary {
    background-color: #08c1b8;
    border-color: #09aaaa;
}

.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:focus,
.btn-primary:hover:disabled,
.btn-primary:active {
    background-color: #07a8a0;
    border-color: #07a8a0;
}

.btn-light.btn-primary {
    transition: 0.5s;
    background-color: transparent;
    border-color: #07a8a0;
    color: #07a8a0;
}

.btn-light.btn-primary:hover,
.btn-light.btn-primary:active:focus,
.btn-light.btn-primary:focus,
.btn-light.btn-primary:hover:disabled,
.btn-light.btn-primary:active {
    background-color: #07a8a0;
    border-color: #07a8a0;
    color: #fff;
}

.btn-dark {
    color: #fcfcfc;
    background-color: #000000;
    border-color: #000000;
}

.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark:focus {
    color: #fcfcfc;
    background-color: #000000;
    border-color: #000000;
}

/* Table
================= */

.table {
    border: #4e646b 1px solid;
}

.table>tbody>tr.out>td,
.table>tbody>tr.out>th,
.table>tbody>tr>td.out,
.table>tbody>tr>th.out,
.table>tfoot>tr.out>td,
.table>tfoot>tr.out>th,
.table>tfoot>tr>td.out,
.table>tfoot>tr>th.out,
.table>thead>tr.out>td,
.table>thead>tr.out>th,
.table>thead>tr>td.out,
.table>thead>tr>th.out {
    background-color: lightgray;
}

.table>tbody>tr.aomi>td,
.table>tbody>tr.aomi>th,
.table>tbody>tr>td.aomi,
.table>tbody>tr>th.aomi,
.table>tfoot>tr.aomi>td,
.table>tfoot>tr.aomi>th,
.table>tfoot>tr>td.aomi,
.table>tfoot>tr>th.aomi,
.table>thead>tr.aomi>td,
.table>thead>tr.aomi>th,
.table>thead>tr>td.aomi,
.table>thead>tr>th.aomi {
    background-color: lightgreen;
}

.table>tbody>tr.hrcv>td,
.table>tbody>tr.hrcv>th,
.table>tbody>tr>td.hrcv,
.table>tbody>tr>th.hrcv,
.table>tfoot>tr.hrcv>td,
.table>tfoot>tr.hrcv>th,
.table>tfoot>tr>td.hrcv,
.table>tfoot>tr>th.hrcv,
.table>thead>tr.hrcv>td,
.table>thead>tr.hrcv>th,
.table>thead>tr>td.hrcv,
.table>thead>tr>th.hrcv {
    background-color: gold;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e9e9e9;
}

.table thead {
    background-color: #08c1b8;
    font-weight: bold;
}

.table-hover thead>tr>th:hover {
    background-color: #07a8a0;
}

.table .text,
.table .glyphicon {
    color: #fcfcfc;
}

.table>thead>tr>th,
.table tbody>tr>td {
    border: none;
}

.table tr:hover td {
    cursor: pointer;
    background-color: rgba(8, 193, 184, 0.314);
}

.table>tbody>tr.out:hover>td,
.table>tbody>tr.out:hover>th,
.table>tbody>tr:hover>td.out,
.table>tbody>tr:hover>th.out,
.table>tfoot>tr.out:hover>td,
.table>tfoot>tr.out:hover>th,
.table>tfoot>tr:hover>td.out,
.table>tfoot>tr:hover>th.out,
.table>thead>tr.out:hover>td,
.table>thead>tr.out:hover>th,
.table>thead>tr:hover>td.out,
.table>thead>tr:hover>th.out {
    background-color: rgba(7, 122, 117, 0.573);
}

.table>tbody>tr.aomi:hover>td,
.table>tbody>tr.aomi:hover>th,
.table>tbody>tr:hover>td.aomi,
.table>tbody>tr:hover>th.aomi,
.table>tfoot>tr.aomi:hover>td,
.table>tfoot>tr.aomi:hover>th,
.table>tfoot>tr:hover>td.aomi,
.table>tfoot>tr:hover>th.aomi,
.table>thead>tr.aomi:hover>td,
.table>thead>tr.aomi:hover>th,
.table>thead>tr:hover>td.aomi,
.table>thead>tr:hover>th.aomi {
    background-color: rgb(104, 250, 104)
}

.table>tbody>tr.hrcv:hover>td,
.table>tbody>tr.hrcv:hover>th,
.table>tbody>tr:hover>td.hrcv,
.table>tbody>tr:hover>th.hrcv,
.table>tfoot>tr.hrcv:hover>td,
.table>tfoot>tr.hrcv:hover>th,
.table>tfoot>tr:hover>td.hrcv,
.table>tfoot>tr:hover>th.hrcv,
.table>thead>tr.hrcv:hover>td,
.table>thead>tr.hrcv:hover>th,
.table>thead>tr:hover>td.hrcv,
.table>thead>tr:hover>th.hrcv {
    background-color: gold;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    width: auto;
}

/* Pagination
================= */

.pagination {
    cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
    padding: 1px 8px;
}

.pagination .last a,
.pagination .next a,
.pagination .prev a,
.pagination .first a {
    background-color: #08c1b8;
    color: #fcfcfc;
    border-color: #07a8a0;
}

.pagination .last a:hover,
.pagination .next a:hover,
.pagination .prev a:hover,
.pagination .first a:hover {
    background-color: #fcfcfc;
    color: #08c1b8;
    border-color: #07a8a0;
}

.pagination li a {
    color: #000000;
    background-color: #fcfcfc;
    border-color: #07a8a0;
}

.pagination li a:hover {
    color: #000000;
    background-color: rgba(8, 193, 184, 0.314);
    border-color: #07a8a0;
}

.pagination>.active>a {
    color: #000000;
    background-color: #08c1b8;
    border-color: #07a8a0;
}

.pagination>.active>a:hover {
    color: #000000;
    background-color: #08c1b8;
    border-color: #07a8a0;
}

.pagination .disabled a {
    background-color: rgba(7, 190, 181, 0.314);
    border-color: rgba(8, 193, 184, 0.314);
}

.pagination .disabled a:hover {
    background-color: rgba(8, 193, 184, 0.314);
    border-color: rgba(8, 193, 184, 0.314);
    color: #fcfcfc;
}

.datepicker table tr td.today {
    background-color: rgba(7, 190, 181, 0.314);
    border-color: #07a8a0;
}

.datepicker table tr td.today:hover {
    background-color: #067a7a;
    color: #fff;
}

.datepicker table tr td.active.active {
    background-color: #07a8a0;
    border-color: #08c1b8;
}

.datepicker table tr td.active.active:hover {
    background-color: #067a7a;
}

/* Form
================= */

.form-control {
    color: black;
}

.is-invalid {
    border-color: red;
    margin-bottom: 5px;
}

.form-error-message {
    color: red;
}

.badge {
    background-color: red;
}

/* Menu
================= */

.barMenu {
    display: flex;
}

.barMenu a:hover,
.barMenu a:active,
.barMenu a:focus {
    color: #fcfcfc;
}

.colorchange {
    color: #ccc;
    background-image: -webkit-linear-gradient(92deg, #08c1b8, #127AEB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear alternate;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(45deg);
    }

    to {
        -webkit-filter: hue-rotate(-45deg);
    }
}

nav {
    z-index: 10;
    position: fixed;
    background: #202020;
    box-shadow: 0px 1px 5px #4e646b;
    height: 56px;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.title {
    text-transform: none;
    font-size: 26px;
    color: #ccc;
    padding: 0 15px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #424242;
    height: 100%;
    cursor: pointer;
    transition: ease 0.2s;
}

.menu-item:hover,
.menu-item.active {
    background-color: #424242;
}

.menu-item:hover a {
    color: #fff;
}

.menu .menu-item:last-child {
    border-right: none;
}

.user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    position: relative;
    color: #ccc;
    padding: 0 15px;
}

.user-link>span {
    color: #07a8a0;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 3px;
}

nav a {
    z-index: 10;
    text-shadow: 1px 1px 2px #212121;
}

/* Separator 
================= */

.separator {
    margin: 40px 0 20px 0;
    border-top: 2px solid #CCCCCC;
    position: relative;
}

.separator-text {
    display: block;
    position: absolute;
    top: -18px;
    left: 0%;
    /* margin-left: -22px; */
    padding: 0 15px 0 0;
    background: #f3f3f4;
    color: #8a8a8a;
    font-size: 22px;
}

.events-content .separator {
    padding: 5px 0;
}

/* Nav bar
================== */

.nav-bar {
    text-align: center;
    margin-bottom: 50px;
}

.btn-nav {
    z-index: 8;
}

.nav-bar div.btn-group {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.nav-bar .btn-group a {
    float: left;
}

.sticky {
    z-index: 10;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    top: 11px;
}

.sticky+.content {
    padding-top: 80px;
}

@media only screen and (max-width: 1400px) {
    .btn-nav .btn {
        font-size: 11px;
    }

    #page-title,
    #userLink {
        display: none;
    }
}

/* Top scroll
================== */

.toolbar {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.toolbar .cd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    opacity: 0.5;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd > span {
    color: white;
    font-size: 24px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.cd-top {
    background: rgba(8, 193, 184, 0.8);
    visibility: hidden;
    opacity: 0;
}

.cd-top:hover {
    background-color: #07a8a0;
    opacity: 1;
}

.cd-save {
    background: rgba(40, 167, 69, 0.8);
}

.cd-save:hover {
    background-color: #28a745;
    opacity: 1;
}

.cd-back {
    background: rgba(204, 204, 204, 0.8);
}

.cd-back:hover {
    background: #ccc;
    opacity: 1;
}

.cd.cd-top--show,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd.cd-top--show {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .toolbar {
        right: 20px;
        bottom: 60px;
    }
}

@media only screen and (min-width: 1024px) {
    .toolbar {
        right: 30px;
        bottom: 80px;
    }

    .toolbar .cd {
        height: 60px;
        width: 60px;
    }
}

/* footer minimal
================== */

.bas {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 100%;
    margin: -30px auto 0 auto;
}

#footer.footer-minimal {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px 0;
}

#footer a.glyphicon {
    float: right;
    margin-right: 20px;
    margin-top: -42px;
    text-decoration: none;
}

#footer a {
    font-size: 12px;
    color: #08c1b8;
}

#footer a:hover {
    color: #fcfcfc;
}

/* footer dark
================= */

#footer.footer-dark {
    background-color: #121212;
    color: #CCC;
}

#footer.footer-dark .btn-default {
    color: #DDD;
    background-color: rgba(189, 189, 189, 0.13);
}

#footer.footer-dark .btn-default:hover {
    background-color: rgba(189, 189, 189, 0.35);
    color: #FFF;
}

#footer.footer-dark .footer-bottom {
    background-color: #0a0a0a;
    border-top-color: rgba(128, 128, 128, 0.08);
}

/* footer copyright
================= */

.footer-flex {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-copyright {
    font-size: 12px;
    color: #888;
}

.footer-copyright p {
    margin-bottom: 0;
}

.footer-copyright a {
    color: #08c1b8;
}

.footer-copyright a:hover {
    opacity: .8;
}

/* Modal
================= */

.modal-header,
.modal h4,
.modal .close {
    background-color: #08c1b8;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 35px 50px;
}

.modal-lg {
    width: 85%;
}

.modal-md {
    width: 70%;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-footer,
.modal-header {
    border-radius: 5px;
}

.modal .btn-block-md {
    width: 49.5%;
}

.modal p {
    font-size: 18px;
}

/* Accueil
================= */

.wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding: 0 20px;
}

.date-wrapper {
    margin: 0 auto;
}

.dp-selected {
    color: black !important;
}

.accueil-wrapper {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(50% - 10px);
    margin-bottom: 40px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 950px) {
    .box {
        width: 100%;
    }
}

.box-header {
    background-color: rgb(8, 193, 184);
    font-size: 18px;
    padding: 15px 15px;
    margin-top: -22px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    box-shadow: 5px 5px 10px 0px rgba(8, 193, 184, 0.3);
}

.box .table {
    border: none;
    margin-bottom: 0;
}

.box .table tr td {
    padding: 10px;
}

.box .table>thead {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.box .table>tbody tr {
    background-color: #ffffff;
}

.box .table-condensed>thead>tr>th {
    padding: 5px 10px;
}

.stats-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.box-sm {
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #fcfcfc;
    border: #ccc 1px solid;
    width: calc(25% - 15px);
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.box-sm .glyphicon {
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
}

.box-sm h1 {
    margin: 10px 60px;
    color: #8a8a8a;
    font-size: 18px;
}

.box-sm p {
    margin: 10px 60px;
    font-size: 22px;
    font-weight: 700;
}

.box-sm .glyphicon-leaf {
    color: yellowgreen;
}

.box-sm .glyphicon-fire {
    color: red;
}

.box-sm .glyphicon-tint {
    color: blue;
}

.box-sm .glyphicon-user {
    color: violet;
}

@media (max-width: 1200px) {
    .box-sm {
        flex: 45%;
    }
}

.well {
    background-color: #f8f8f8;
}

/* Login
================= */

.panel {
    width: 500px;
    margin: 5% auto 0 auto;
    padding: 30px 50px;
    border: 1px solid #ccc;
}


.login-header {
    padding: 35px 50px;
    margin-top: -80px;
    background-color: #08c1b8;
    color: white !important;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.login-header h1 {
    margin: 0;
    font-weight: bold;
}

.form-check {
    margin-bottom: 10px;
}

.alert-msg {
    margin-top: -30px;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 30px;
}

/* ScrollBar
================= */

/*
.scrollbar {
    scrollbar-base-color: #07a8a0;
    scrollbar-face-color: #08c1b8;
    // scrollbar-3dlight-color: #cc0000;
    // scrollbar-highlight-color: #cc0000;
    scrollbar-track-color: #F5F5F5;
    scrollbar-arrow-color: #08c1b8;
    // scrollbar-shadow-color: rgba(0, 0, 0, 0.08);
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #08c1b8;
}
*/

/* Action/Date
================= */

.activity-wrapper {
    margin: 20px 25%;
}

.list-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}

.list-content {
    display: flex;
    flex-direction: column;
    overflow: visible;
    box-sizing: border-box;
}

.card {
    padding: 10px 20px;
    background-color: #fcfcfc;
    color: #000000;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.card-add {
    color: #08c1b8;
    padding: 5px 0;
    /* margin-bottom: 20px; */
}

.card-add:hover {
    color: #fcfcfc;
    background-color: #08c1b8;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.card .form-group {
    text-align: left;
}

.card-content .glyphicon {
    font-size: 18px;
}

/* Alert / Flashbag
================= */

.alert {
    padding: 20px;
    opacity: 0.9;
    transition: opacity 0.7s;
    margin-bottom: 15px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 10px;
}

.closebtn {
    margin-left: 15px;
    color: inherit;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Radio button block
================= */

.radio-block input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.radio-block label {
    color: #07a8a0;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0px -2px;
}

.radio-block input[type=radio]:checked+label {
    color: #fff;
    background: #08c1b8;
}

.radio-block label+input[type=radio]+label {
    border-left: solid 3px #08c1b8;
}

.radio-block .radio-group {
    z-index: 1;
    position: absolute;
    border: solid 3px #08c1b8;
    display: inline-block;
    margin-top: 2px;
    border-radius: 10px;
    overflow: hidden;
}

/* RDV
================= */

.white {
    background-color: white;
}

.hotpink {
    background-color: hotpink;
}

.selected.hotpink-after:after {
    border-color: hotpink !important;
    background-color: hotpink !important;
}

.older-event.hotpink-after:after {
    border-color: hotpink !important;
}

.hotpink-after:hover:after {
    border-color: hotpink !important;
    background-color: hotpink !important;
}

.gold {
    background-color: gold;
}

.selected.gold-after:after {
    border-color: gold !important;
    background-color: gold !important;
}

.older-event.gold-after:after {
    border-color: gold !important;
}

.gold-after:hover:after {
    border-color: gold !important;
    background-color: gold !important;
}

/* Autres
================= */

.actionBar .glyphicon-search,
.actionBar .glyphicon-refresh {
    -webkit-text-stroke: 0.75px black;
}

.btn-group .glyphicon-search {
    -webkit-text-stroke: 0.75px white;
}

.pastille {
    background: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid red;
}

.glyphicon-star {
    top: 2px;
    color: black !important;
    font-size: 18px
}