{% extends 'base.html.twig' %}

{% block title %}New BCVs{% endblock %}

{% block body %}
    <h1>Create new BCVs</h1>

    {{ include('b_c_vs/_form.html.twig') }}

    <a href="{{ path('b_c_vs_index') }}">back to list</a>
{% endblock %}
