{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block page_content %}
    <div class="wrapper">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div id="paginator"></div>
            </div>
        </div>

        <div class="row accueil-wrapper">
            <div class="box">
                <div class="box-header">Prochains
                    <b>ateliers Infos</b>
                </div>
                <table id="infos" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochaines
                    <b>BCVs</b>
                </div>
                <table id="bcvs" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Permission</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochaines
                    <b>consultations</b>
                </div>
                <table id="rendezVous" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Type</th>
                            <th data-column-id="thematique">Thématique</th>
                            <th data-column-id="heure">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>entretiens individuels</b>
                </div>
                <table id="entretiens" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Type</th>
                            <th data-column-id="thematique">Thématique</th>
                            <th data-column-id="heure">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>ateliers</b>
                </div>
                <table id="ateliers" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Type</th>
                            <th data-column-id="thematique">Thématique</th>
                            <th data-column-id="heure">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>rendez-vous téléphoniques</b>
                </div>
                <table id="telephoniques" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom">Nom</th>
                            <th data-column-id="patient_prenom">Prénom</th>
                            <th data-column-id="rdv_type">Type</th>
                            <th data-column-id="thematique">Thématique</th>
                            <th data-column-id="heure">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row accueil-wrapper">
            <div class="box-sm">
                <span class="glyphicon glyphicon-user"></span>
                <h1>Patients</h1>
                <p>{{ nbPatients|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-fire"></span>
                <h1>Entretiens</h1>
                <p>{{ nbEntretiens|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-leaf"></span>
                <h1>Stats</h1>
                <p>{{ 42|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-tint"></span>
                <h1>Stats</h1>
                <p>{{ 91768|number_format(0, ',', '.') }}</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var options = {
            selectedDateFormat: 'DD-MM-YYYY',
            selectedDate: '{{ date }}',
            onSelectedDateChanged: function (event, date) {
                var d = new Date(date);
                ajaxAction(d);
            },
            language: 'fr'
        }

        function ajaxAction(d) {
            $.ajax({
                    url: "{{ path('accueil_ajax') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "date": d.getFullYear() + '-' + (
                        d.getMonth() + 1) + '-' + d.getDate()
                    },
                    success: function (resp) {
                        $("tbody tr").remove();
                        if (resp[0].length > 0) {
                            $.each(resp[0], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#entretiens');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun entretien aujourd\'hui</td><td></td><td></td><td></td><td></td>').appendTo('#entretiens');
                        }
                        if (resp[1].length > 0) {
                            $.each(resp[1], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#ateliers');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun atelier aujourd\'hui</td><td></td><td></td><td></td><td></td>').appendTo('#ateliers');
                        }
                        if (resp[2].length > 0) {
                            $.each(resp[2], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#telephoniques');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun rendez-vous téléphonique aujourd\'hui</td><td></td><td></td><td></td><td></td>').appendTo('#telephoniques');
                        }
                        if (resp[3].length > 0) {
                            $.each(resp[3], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#rendezVous');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun rendez-vous aujourd\'hui</td><td></td><td></td><td></td><td></td>').appendTo('#rendezVous');
                        }
                        if (resp[4].length > 0) {
                            $.each(resp[4], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td>')
                                .appendTo('#infos');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun atelier Infos aujourd\'hui</td><td></td><td></td>').appendTo('#infos');
                        }
                        if (resp[5].length > 0) {
                            $.each(resp[5], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.permission + '</td>')
                                .appendTo('#bcvs');
                            });
                        } else {
                            $('<tr class="disabled text-left">').append('<td>Aucun BCVs aujourd\'hui</td><td></td><td></td>').appendTo('#bcvs');
                        }
                        setTableWidth();
                    }
                });
        }

        ajaxAction(new Date());

        $('#paginator').datepaginator(options);

        $('tbody').on("click", "tr", function () {
            if (!$(this).hasClass("disabled")) {
                var npatient = $(this).attr('data-row-id');
                var pathArray = window.location.pathname.split("/");
                var url = window.location.protocol + "//" + window.location.host;
                for (var i = 0; i < pathArray.length - 2; i++) {
                    url += pathArray[i] + "/";
                }
                window.location.assign(url + "patient/vue/" + npatient);
            }
        });

        function setTableWidth() {
            console.log("hey");
            $(".box").each(function(i, el) {
                let lenght = $(el).find('tbody tr:first > td').length;
                console.log($(el).find('tbody tr:first').attr('class'));
                if ($(el).find('tbody tr:first').attr('class') == 'disabled text-left') {
                    $(el).find('td').css("width", "0%");
                    $(el).find('td:eq(0)').css("width", "100%");
                } else if (lenght == 5) {
                    $(el).find('td:eq(0)').css("width", "15%");
                    $(el).find('td:eq(1)').css("width", "15%");
                    $(el).find('td:eq(2)').css("width", "20%");
                    $(el).find('td:eq(3)').css("width", "35%");
                    $(el).find('td:eq(4)').css("width", "15%");
                } else if (lenght == 3) {
                    $(el).find('td:eq(0)').css("width", "35%");
                    $(el).find('td:eq(1)').css("width", "35%");
                    $(el).find('td:eq(2)').css("width", "30%");
                }
            })
        }
    </script>
{% endblock %}