{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block page_content %}
    <div class="wrapper">
        <div class="row">
            <div class="date-wrapper">
                <div id="paginator"></div>
            </div>
        </div>

        <div class="row accueil-wrapper">
            <div class="box">
                <div class="box-header">Prochaines
                    <b>applications Betterises</b>
                </div>
                <table id="infos" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="40%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="40%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="20%">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>BCVs</b>
                </div>
                <table id="bcvs" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="40%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="40%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="20%">Permission</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochaines
                    <b>consultations</b>
                </div>
                <table id="rendezVous" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="20%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="20%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="15%">Type</th>
                            <th data-column-id="thematique" data-width="30%">Thématique</th>
                            <th data-column-id="heure" data-width="15%">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>entretiens individuels</b>
                </div>
                <table id="entretiens" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="20%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="20%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="15%">Type</th>
                            <th data-column-id="thematique" data-width="30%">Thématique</th>
                            <th data-column-id="heure" data-width="15%">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>ateliers</b>
                </div>
                <table id="ateliers" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="20%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="20%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="15%">Type</th>
                            <th data-column-id="thematique" data-width="30%">Thématique</th>
                            <th data-column-id="heure" data-width="15%">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <div class="box-header">Prochains
                    <b>rendez-vous téléphoniques</b>
                </div>
                <table id="telephoniques" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="patient_nom" data-width="20%">Nom</th>
                            <th data-column-id="patient_prenom" data-width="20%">Prénom</th>
                            <th data-column-id="rdv_type" data-width="15%">Type</th>
                            <th data-column-id="thematique" data-width="30%">Thématique</th>
                            <th data-column-id="heure" data-width="15%">Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row stats-wrapper">
            <div class="box-sm">
                <span class="glyphicon glyphicon-user"></span>
                <h1>Patients</h1>
                <p>{{ nbPatients|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-fire"></span>
                <h1>Entretiens</h1>
                <p>{{ nbEntretiens|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-leaf"></span>
                <h1>Stats</h1>
                <p>{{ 42|number_format(0, ',', '.') }}</p>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-tint"></span>
                <h1>Stats</h1>
                <p>{{ 91768|number_format(0, ',', '.') }}</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var options = {
            selectedDateFormat: 'DD-MM-YYYY',
            selectedDate: '{{ date }}',
            onSelectedDateChanged: function (event, date) {
                var d = new Date(date);
                ajaxAction(d);
            },
            language: 'fr'
        }

        function ajaxAction(d) {
            $.ajax({
                    url: "{{ path('accueil_ajax') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "date": d.getFullYear() + '-' + (
                        d.getMonth() + 1) + '-' + d.getDate()
                    },
                    success: function (resp) {
                        $("tbody tr").remove();
                        if (resp[0].length > 0) {
                            $.each(resp[0], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#entretiens');
                            });
                        } else {
                            $('<tr class="disabled text-center">').append('<td colspan="5">Aucun entretien aujourd\'hui</td>').appendTo('#entretiens');
                        }
                        if (resp[1].length > 0) {
                            $.each(resp[1], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#ateliers');
                            });
                        } else {
                            $('<tr colspan="5" class="disabled text-center">').append('<td colspan="5">Aucun atelier aujourd\'hui</td>').appendTo('#ateliers');
                        }
                        if (resp[2].length > 0) {
                            $.each(resp[2], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#telephoniques');
                            });
                        } else {
                            $('<tr colspan="5" class="disabled text-center">').append('<td colspan="5">Aucun rendez-vous téléphonique aujourd\'hui</td>').appendTo('#telephoniques');
                        }
                        if (resp[3].length > 0) {
                            $.each(resp[3], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td><td>' + val.thematique + '</td><td>' + val.heure + '</td>')
                                .appendTo('#rendezVous');
                            });
                        } else {
                            $('<tr colspan="5" class="disabled text-center">').append('<td colspan="5">Aucun rendez-vous aujourd\'hui</td>').appendTo('#rendezVous');
                        }
                        if (resp[4].length > 0) {
                            $.each(resp[4], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.type + '</td>')
                                .appendTo('#infos');
                            });
                        } else {
                            $('<tr colspan="5" class="disabled text-center">').append('<td colspan="3">Aucune application Betterise').appendTo('#infos');
                        }
                        if (resp[5].length > 0) {
                            $.each(resp[5], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append('<td>' + val.nom + '</td><td>' + val.prenom + '</td><td>' + val.permission + '</td>')
                                .appendTo('#bcvs');
                            });
                        } else {
                            $('<tr colspan="5" class="disabled text-center">').append('<td colspan="3">Aucun BCVs').appendTo('#bcvs');
                        }
                    }
                });
        }

        ajaxAction(new Date());

        $('#paginator').datepaginator(options);

        anchor_list = ["infos", "bcvs", "consultations", "entretiens", "ateliers", "suivi"]

        $('tbody').on("click", "tr", function () {
            if (!$(this).hasClass("disabled")) {
                var npatient = $(this).attr('data-row-id');
                var pathArray = window.location.pathname.split("/");
                var url = window.location.protocol + "//" + window.location.host;
                var anchor = anchor_list[$(this).parents('.box').index()];
                for (var i = 0; i < pathArray.length - 2; i++) {
                    url += pathArray[i] + "/";
                }
                window.location.assign(url + "patient/vue/" + npatient + "#" + anchor);
            }
        });

    </script>
{% endblock %}