{# templates/form_layout.html.twig #}
{# ... #}

{% extends 'layout.html.twig' %}

{% block form_row  %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
		{{ form_row(form) }}
    </div>
{% endblock form_row  %}