{% extends 'base.html.twig' %}

{% block title %}New Telephonique{% endblock %}

{% block body %}
    <h1>Create new Telephonique</h1>

    {{ include('telephonique/_form.html.twig') }}

    <a href="{{ path('telephonique_index') }}">back to list</a>
{% endblock %}
